/* 
    ************ Style summary
    *** 01. Commum configs;
    *** 02. Reused class;
    *** 03. Sidebar menu;
    *** 04. Top menu on small screens;
    *** 05. Overlay effect when open on small screens;
    *** 06. 
    *** 07.

*/

/* 
    ************ 01. Commum configs
*/



/* 
    ************ 02. Reused classes
*/

    .text-align-center {
        text-align: center;
    }

    .margin-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .padding-16 {
        padding: 16px;
    }

    .padding-8-16 {
        padding: 8px 16px;
    }

    .float-left {
        float: left;
    }

    .uppercase {
        text-transform: uppercase;
    }

/* 
    ************ 03. Sidebar menu
*/

    .sidebar {
        display: none;
    }

/* 
    ************ 04. Top menu on small screens
*/

    .header {
        background-color: #fff;
        max-width: 1500px;
        width: 100%;
    }

    .header span {
        display: inline-block;
        float: left;
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
    }

    .header a {
        float: right;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        font-size: 24px;
        color: #000;
        padding: 16px;
        margin-right: 16px;
    }

    .header a:hover {
        background-color: #ccc;
    }
/* 
    ************ 05. Overlay effect when open on small screens
*/

/* 
    ************ 06.
*/