:root {
    --primary-color: #747474;
    --secondary-color: #000;

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.5;
    background-color: #eee;
}

#content {
    margin: 0 auto;
}

#sidebar {
    width: 100%;
    max-width: 300px;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    text-align: center;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
}

#sidebar h1 {
    color: var(--primary-color);
    font-size: 3rem;
    padding: 90px 0;
}

#sidebar h1 span {
    display: block;
}

ul {
    margin: 0;
    width: 100%;
}

#sidebar a {
    text-decoration: none;
}

#sidebar ul li {
    padding: 10px;
}

#sidebar ul li a {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 500;
    padding: 10px;
}

#sidebar li:hover {
    background-color: #ccc;
    color: var(--secondary-color);
}

#portfolio {
    width: 100%;
    padding-left: 300px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
}

#portfolio div img {
    width: 100%;
    margin-bottom: -4px;
    opacity: 0.8;
    cursor: pointer;
}

#portfolio div img:hover {
    opacity: 1;
}

.pagination {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    margin: 3rem 0;
    padding-left: 300px;
}

.pagination a {
    font-size: 1.8rem;
    padding: 0.9rem 1.8rem;
    text-decoration: none;
    color: #303030;
}

.pagination .p-item {
    background-color: var(--secondary-color);
    color: #f1f1f1;
}

.button:hover {
    background-color: var(--secondary-color);
    color: #f1f1f1;
}



@media (max-width: 1024px) {
    #sidebar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        height: auto;
        padding: 10px 20px;
        position: fixed;
    }

    #sidebar h1 {
        padding: 0;
    }

    #sidebar h1 span {
        display: inline-block;
    }

    #sidebar nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: 6rem;
    }

    #sidebar nav ul li,
    #sidebar nav ul li a {
        padding: 0;
    }
    
    #portfolio {
        padding-left: 0;
        padding-top: 65px;
    }
}

@media (max-width: 576px) {
    #sidebar {
        justify-content: center;
    }

    #sidebar h1 {
        display: none;
    }

    #sidebar nav ul li {
        padding: 10px;
    }

    #portfolio {
        padding-top: 43px;
        grid-template-columns: auto;
    }
}