:root {
    --primary-color: #747474;
    --secondary-color: #000;

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.5;
    background-color: #eee;
}

#content {
    margin: 0 auto;
}

#sidebar {
    width: 100%;
    max-width: 300px;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    text-align: center;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
}

#sidebar h1 {
    color: var(--primary-color);
    font-size: 3rem;
    padding: 90px 0;
}

#sidebar h1 span {
    display: block;
}

ul {
    margin: 0;
    width: 100%;
}

#sidebar a {
    text-decoration: none;
}

#sidebar ul li {
    padding: 10px;
}

#sidebar ul li a {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 500;
    padding: 10px;
}

#sidebar li:hover {
    background-color: #ccc;
    color: var(--secondary-color);
}


@media (max-width: 1024px) {
    #sidebar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        height: auto;
    }

    #sidebar h1 {
        padding: 0;
    }

    #sidebar nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: 6rem;
    }
}

#portfolio {
    width: 100%;
    padding-left: 300px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(3, auto);
}

#portfolio div img {
    width: 100%;
    margin-bottom: -4px;
}